.footer__container {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}
.footer {
  background-color: var(--hero-footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__contacts {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.tablet-contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.link {
  color: var(--footer-contact-white);
  text-decoration: none;

  transition: color var(--transition-time) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--blue-accent);
  }
}

.footer__nav {
  color: var(--main-background-hero-adress-color);

  &:hover,
  &:focus {
    color: var(--blue-accent);
  }
}

.footer__location {
  margin-bottom: 9px;

  @media screen and (min-width: 1200px) {
    margin-right: 15px;
  }
}
.footer__email {
  margin-top: 0;
  margin-bottom: 9px;
}
.footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-background-hero-adress-color);
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 0;
  }
  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }
}
