.header__section {
  padding-top: 0;
  border-bottom: 1px solid #ececec;
}
.header {
  background-color: var(--main-background-hero-adress-color);
}

.menu-container {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background-hero-adress-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.menu-button,
.menu-close-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover {
    fill: var(--blue-accent);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button {
  position: absolute;
  top: 21px;
  right: 25px;
}

.menu-close-button {
  position: absolute;
  top: 21px;
  right: 25px;

  &:hover {
    fill: var(--blue-accent);
  }
}
