.team-section {
  background-color: var(--team-section-background-color);
  padding-bottom: 94px;
}

.team {
  margin-top: 0;
  margin-bottom: 0;
}
.team__card {
  background-color: var(--main-background-hero-adress-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 622px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 536px;
  }
  @media screen and (min-width: 1200px) {
    // width: 354px;
  }
}
.team__name {
  color: var(--secondary-header-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.team__pic {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.team__position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
}
.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}
