.navigation {
  display: flex;
  margin-left: 93px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.navigation__item + .navigation__item {
  margin-left: 50px;
}
.navigation__link {
  display: block;
  position: relative;
  color: var(--secondary-header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;

  transition: color var(--transition-time) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--blue-accent);
  }
  &.navigation__link--current {
    color: var(--blue-accent);

    &::after {
      content: "";

      display: block;
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 4px;
      background-color: var(--blue-accent);
      border-radius: 2px;
    }
  }
}

// хедер мобілка

.header__nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

// навігація меню для мобілки
.nav-list {
  margin-bottom: 302px;
}

.nav-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--logo-color);

  &:hover {
    color: var(--blue-accent);
  }
}
.nav-list__link--current {
  color: var(--blue-accent);
}
