.contacts {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}
.contacts__icon {
  fill: var(--primary-text-color);
  margin-right: 8px;

  transition: fill var(--transition-time) var(--timing-function);

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.contacts__envelope {
  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts__phone {
  @media screen and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.contacts__item + .contacts__item {
  @media screen and (max-width: 1199px) {
    padding-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition-time) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--blue-accent);
    cursor: pointer;

    & svg,
    & svg {
      fill: var(--blue-accent);
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// контакти для мобільного
.nav-contacts {
  margin-bottom: 64px;
}
.phone-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: var(--blue-accent);
  margin-bottom: 32px;
}

.email-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
}
