.team__card .social {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    padding-right: 122px;
    padding-left: 122px;
  }
  @media screen and (min-width: 768px) {
    padding-right: 74px;
    padding-left: 74px;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  padding: 0;
  fill: var(--team-clients-icon-color);

  transition: fill var(--transition-time) var(--timing-function),
    background-color var(--transition-time) var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--main-background-hero-adress-color);
    background-color: var(--blue-accent);
  }
}
