:root {
  --primary-text-color: #757575;
  --secondary-header-color: #212121;
  --logo-color: #000000;
  --blue-accent: #2196f3;
  --main-background-hero-adress-color: #ffffff;
  --team-section-background-color: #f5f4fa;
  --hero-footer-background-color: #2f303a;
  --footer-contact-white: rgba(255, 255, 255, 0.6);
  --team-clients-icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}
